<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>{{helpText}}</h2>
        <ul class="help-list">
            <li>🚨 LinkedIn -
                <a href="https://www.linkedin.com/in/"
                    target="_blank">https://www.linkedin.com/in/</a>
            </li>
            <li>🚨 twitter -
                <a href="https://twitter.com/" target="_blank">https://twitter.com/</a>
            </li>
            <li>🚨 Facebook -
                <a href="https://www.facebook.com/"
                    target="_blank">https://www.facebook.com/</a>
            </li>
            <li>🚨Site -
                <a href="https://thewebdev.tech" target="_blank">https://thewebdev.tech</a>
            </li>
            <li>🚨 Instagram-
                <a href="https://www.instagram.com/" target="_blank">https://www.instagram.com/</a>
            </li>
            <li>🚨 Linktree -
                <a href="https://linktr.ee/" target="_blank">https://linktr.ee/</a>
            </li>
        </ul>
        {{>footer}}
    </div>
</body>
</html>